.vscode/

#cmake artifacts
build/CMakeFiles
build/.cmake
build/CMakeCache.txt
build/cmake_install.cmake
build/Makefile
build/compile_commands.json

#third party build outputs
build/libbpf
build/bpftool

#project build outputs
build/kprobe*
build/xdp*

#go cache
build/go-cache

go-loader/go-loader
go-loader/vendor